@import './variable';

.quote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    text-align: center;
    background-color: $main-color;
    color: $text;
}

.quote-box #text {
    @include quote;
    margin: 40px 0px;
}

.quote-box #author {
    @include author;
    margin: 0%
}

.quote-box #new-quote {
    @include button;
    width: 10vw;
    height: 4vh;
    border-radius: 10px;
    border: none;
    margin: 0%;
    color: #F2F2F2;
    background-color: #35D0F2;
}

.quote-box a {
    text-decoration: none;
    color: #1DF2F2;
}